@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <div id="overlayContent"></div>

    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/overlay-manager.js"></script>
</body>
</html>
